<div class="nav flex-column col-2" id="sidenav">
    <div id="leftmenuinner">    
        <div id="leftmenuinnerinner">
            <h2 class="left">
                <span class="left-h2">Angular</span>
                Tutorials
            </h2>
            <ul class="nav flex-column left-nav-content">
                <li class="nav-item">
                    <a class="nav-link active text-dark" routerLink="/angular-home">Angular HOME</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link active text-dark" href="#">Angular Introduction</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">Angular Component Life Cycle</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">Angular Directive</a>
                </li>
              </ul>
        </div>
    </div>
</div>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">

</div>
