<header>
  <div class=" d-lg-block sidebar bg-white" id="sidenav" *ngIf="showSideNav">
    <div id="leftmenuinner" class="position-sticky">    
        <div id="leftmenuinnerinner">
            <h4 class="left">
                <span class="left-h2">Angular</span>Tutorials                
            </h4>
            <ul class="nav flex-column left-nav-content" click="GetComponent($event)">
                <li class="nav-item" *ngFor="let item of angularList">
                    <a class="nav-link text-dark">{{item.name}}</a>
                </li>
              </ul>
        </div>
    </div>
</div>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">

</div>


  <!-- header  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">Learncode</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
          </li>         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Prepare
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let courses of courseList">
                <a class="dropdown-item" routerLink="/Angular" (click) = "ShowAndHideSideNav()">{{courses.name}}</a>
              </li>
            </ul>
          </li>          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

